body {
    margin: 0px;
    font-family: "baomoi", "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 1367px) {
    .all-body {
        padding-top: 70px;
        width: 78% !important;
        height: 2594px;
        margin: auto;
    }

    .menu {
        width: 78% !important;
        margin: auto;
        height: 100%;
    }

    .logo {
        width: 78% !important;
    }

    .main-filter {
        position: fixed;
        top: 142px;
        height: 430px;
        width: 60px;
        left: 76px !important;
    }
    .bodyof3, .videopage, .bodyOfBong, .bodyof2, .bodyCTVideo, .gioithieu, .quangcao ,.quanli{
        width: 78% !important;
    }

}




.main-filter {
    position: fixed;
    top: 142px;
    height: 430px;
    width: 60px;
    left: 355px;
}

.main-filter a.is-active, .main-filter a:hover {
        
        border-bottom: 1px solid #DB562B;

}
.popular:hover {
    color: #DB562B;
    cursor: pointer;
}
.is-active1:hover .chuyemmuc {
        background-image: url(../Img/menu-left/chuyenmuc2.png);
    }
.chuyemmuc:hover  {
    background-image: url(../Img/menu-left/chuyenmuc2.png);
}
.main-filter a {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 4px;
    font-size: 13px;
    display: block;
    width: 65px;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}


.main-filter i {
    margin-bottom: 5px;

}

.chuyemmuc {
    background-image: url(../Img/menu-left/chuyenmuc.png);
    width: 35px;
    height: 35px;
    background-size:35px 35px !important;
}
.video {
    margin-top:10px;
    background-image: url(../Img/menu-left/video.png);
    width: 35px;
    height: 25px;
    background-size: 35px 25px !important;
}
    .video:hover {
        background-image: url(../Img/menu-left/video2.png);
    }
.is-active2:hover .video {
    background-image: url(../Img/menu-left/video2.png);
}

.bongda {
    margin-top: 10px;
    background-image: url(../Img/menu-left/soccer-ball-variant.png);
    width: 35px;
    height: 35px;
    background-size: 35px 35px !important;
}
    .bongda:hover {
        background-image: url(../Img/menu-left/soccer-ball-variant.png);
    }
.is-active3:hover .bongda {
    background-image: url(../Img/menu-left/soccer-ball-variant2.png);
}

.len {
    margin-top: 10px;
    background-image: url(../Img/menu-left/upload-button.png);
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-size: 35px 35px !important;
}
    .len:hover {
        background-image: url(../Img/menu-left/upload-button2.png);
        
    }
.is-active4:hover .len {
    background-image: url(../Img/menu-left/upload-button2.png);
}



.spr--pin-event, .spr--pin-hot, .spr--pin-latest, .spr--pin-overview, .spr--pin-recommend, .spr--pin-video {
    width: 35px;
    height: 35px;
}

.liveIcon, .spr {
    /*background-image: url(https://baomoi-static.zadn.vn/web/styles/img/desktop-sprite-3.2.1.png);*/
    background-size: 100px 4000px;
    display: inline-block;
    vertical-align: middle;
}
.main-filter span {
    display: block;
}
/*  ------------- ---------------------------------------------------------------------------------------------------------------------------------- */
.bottom {
    height: 74px;
    background-color: #2FA1B3;
    margin-top: 30px;
}
.search2 a{
    color:white;
}
    .search2 a:hover {
        color: white;
        text-decoration: underline;
    }
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}
p {
    color: rgba(0, 0, 0, 0.75);
}
.dangnhap:hover {
    color: #2FA1B3;
}
.dangki:hover {
    color: #2FA1B3;
}
.head {
   
    width: 100%;
    height: 72px;

}
.logo {
    background-color: rgba(79, 102, 243, 0.22);
    width: 55%;
    margin: auto;
}
.logo2 {

    width: 55%;
 
    margin: auto;
}
.search{
    
}
    .search button {
        position: relative;
        float: left;
        height: 18px;
        margin-left: -5px;
        width: 20%;
        height: 30px;
        padding: 11px;
        background: #2FA1B3;
        color: white;
        font-size: 17px;

        border: 0px solid grey; 
        border-left: none;
        cursor: pointer;
        width: 32px;
        margin-top: 27px;
        /*background: url('../Img/searching-magnifying-glass.png') no-repeat;
    background-size: 18px 20px;*/
        cursor: pointer;
    }
.fa {
    position: absolute;
    width: 22px;
    height: 20px;
    top: 6px;
    left: 7px;
    background: url('../Img/searching-magnifying-glass.png') no-repeat;
    background-size: 18px 20px;
}
.logo-ico {
    float: left;
    padding-top: 15px;
    width: 217px;
    height: 42px;
    display: inline;
}
.logo input {
    border: 1px solid grey;
    float: left;
    font-size: 14px;
    margin-left: 93px;
    line-height: 1.2rem;
    font-weight: 400;
    font-style: normal;
    font-family: inherit;
    color: #000;
    height: 28px;
    width: 411px;
    margin-right: 5px;
    margin-top: 27px;
    padding: 0 0 0 10px;
    top: 20px;
}

.login {
    float: right;
    font-size: 14px;
    margin: 0px;
    padding: 0px;

    margin-top: 34px;
    margin-left: 10px;
}
.login1 {
    float: right;
}
.menu-bar {
    width: 100%;
    height: 37px;
    background-color: #2FA1B3;
    position:fixed;
    top:80px;
}

.ol-menu li {
    margin-right: 10px;
    display: inline-block;
    

}
.ol-menu {
    line-height: 30px;

}
    .ol-menu li a {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        text-decoration: none;
        color: white;
        display: inline-block;
        line-height: 37px;
        font-weight: bold;
        font-size: 13px;
        margin-left: -13px
    }
.li {
    text-align: center;
    margin:0px;
}
.lii {
    position: relative;
    padding-right: 45px;
}
.home {
   
    background: url('../Img/menu/home1.png') no-repeat;
    background-size: 20px 20px;
    padding-left:10px;
   

}
.iconhome {
    top: -22.5px;
    cursor: pointer;
    background: url('../Img/menu/home1.png') no-repeat;
    background-size: 20px 20px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 6px;
    background-position: center;
    left:0px;
}
.li a:hover {
    background-color: #297885;
}
.iconhome :hover {
    background: url('../Img/menu/home2.png') no-repeat;
   
}
.lii:hover .iconhome {
    background: url('../Img/menu/home2.png') no-repeat;
    background-size: 20px 20px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 6px;
    background-position: center;
    left: 0px;
    background-color: #297885;
}
.lii :hover  {
    background-color: #297885;
}


.body {
    width: 100%;
    
}
.menu {
    
    margin: auto;
    height: 100%;
    width:55%;
}

.main_ct {
    height: 458px;
}
.all-body {
    padding-top: 70px;
    height: 2594px;
    margin: auto;
    width: 55%;
}
.left-body {
    width: 67%;
    height: 100%;
    float: left;
   
}
.right-body {
    width: 30%;
    height: 100%;
    float: right;
    
}
.right-body1 {
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.right-body2 {
   
    margin-top: 50px;
    width: 100%;
    height: 360px;
}
.new1 {
    width: 100%;
    height: 300px;
    background: url('../Img/new/f9f4e34dbe0c57520e1d.jpg') no-repeat;
    background-size: 20px 20px;
}
.ahead {
    font-size: 34px;
    color: #222;
}
.caption:hover {
    color:#2FA1B3;
}
.img3 {
    width: 30%;
    float: left;
    cursor: pointer;
}
.img3 img{
    width:100%;
}
.imggiua {
    padding-left: 5%
}
.imgthu3 {
    float: right;
}
.ahead1 {
    font-size: 18px;
    width: 93%;
    display: block;
    padding-top: 7px;
}
    .ahead1:hover {
        color: #2FA1B3;
    }
.part2 {
    width: 100%;
    height: 230px;
}
.timeline > .story {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 11px;
}
.story__thumb {
    width: 25%;
    margin-top: 21px;
    float: left;
    overflow: hidden;
}

.story__thumb:hover img {
    
    transform: scale(1.04);
}

    .story__thumb img {
        width: 100%;
        min-height: 100%;
        
        transition: transform .5s ease-out .1s;
        text-indent: -9999px;
        /*transform: translate3d(0,0,0);*/
    }

.story__thumb2 {
    display: block;
    width: 70%;
    float: left;
    margin-left: 4%;

}
.story__thumb2 h4 {
        font-size: 22px;
        line-height: 28px;
        margin-top: 18px;
        margin-bottom: 8px;
}
.story:hover .story__heading a {
    color: #2FA1B3;
}
.tinytext {
    color: #999;
    font-size: 15px;
}
    .tinytext:hover {
        color: #2FA1B3;
    }
.story {
    height: 164px;
}
.story2 h4{
    margin:0px;
    
}
.story2 {
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    margin-left: 0px;
}
.story2:hover .story__heading a {
    color: #2FA1B3;
}
.title {
    font-size: 25px;
    line-height: 25px;
    line-height: 2.5rem;
    font-style: normal;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 6px solid #2FA1B3;
    
}
.title a {
        color: #2FA1B3;
        width: 100%;
        display: block;
}

.m_left {
    width: 340px;
    float: left;
    background-color: #f6f6f6;
    
}
.m_left2{
    height:365px;
}
.m_right {

    width: 361px;
    float: left;
    overflow: hidden;
    height: 450px;
}
    .m_right ul li {
        width: 160px;
        float: left;
        margin-right: 12px;
        margin-bottom: 11px;
        height: 205px;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
        margin-left: 15px;
    }
    .m_right ul {
        margin: 0px;
        padding: 0px;
        margin-left: 10px;
    }
    .m_right h6 {
        margin: 0px;
        margin-top: 8px;
    }
.main_ct a:hover {
    color: #2FA1B3;
}

/* right*/
.story__heading2 a{
    font-size:13px;
}
.story__heading2 h4 {
    line-height: 15px;
}

.story__thumb_r {
    
    margin-top:0;

}
.story__thumb_r h4 {
    font-size: 12px !important;
    line-height: 17px !important;
}
.story__headingr {
    margin-top: 0 !important;
    font-size: 14px !important;
    line-height: 16px !important;
}
.round-img {
    border-radius: 6px;
    height: 64px;
}
.story-r {
    height: 94px !important;
}

/* banner*/
.banner1 {
    cursor: pointer;
    width: 100%;
    height: 277px;
}
